<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Simple Form</h1>
    <form action="/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="issue">Issue:</label>
        <textarea id="issue" name="issue" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <div class="file-container">
        <% if (files && files.length) { %>
            <h2>Files:</h2>
            <% files.forEach((file) => { %>
                <div class="file-card">
                    <h3><%= file %></h3>
                    <div class="file-actions">
                        <a href="/file/<%= file %>">Read More</a>
                        <a href="/edit/<%= file %>">Edit</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <h3>No files yet...!</h3>
        <% } %>
    </div>
</body>
</html>
