<!DOCTYPE html>
<html>
<head>
    <title>File Content</title>
    <link rel="stylesheet" href="/styles/show.css">
</head>
<body>
    <h1>File Content</h1>
    <div class="file-content">
        <h2><%= fileName %></h2>
        <pre><%= fileContent %></pre>
    </div>
    <a href="/">Back to File List</a>
</body>
</html>
